html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}

a{
    text-decoration: none;
    color: black;
}
ul, ol{
    display: flex;
    list-style: none;
}
nav ul{
    gap: 32px;   
}
nav img{
    height: 40px;
    width: fit-content;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    padding-top: 8px;
}

.button{
    display: flex;  
    align-items: center;
    height: fit-content;
    background: black;
    border-radius: 32px;
    padding: 8px 16px;
}

.white{
    background: white;
}

.button:hover{
    transform: scale(110%);
}
.button img{
    height: 16px;
    width: 16px;
    object-fit: contain;
}
.button a{
    color: black;
}

div{
    display: flex;
}
.divleft{
    flex-direction: column  ;
}
.divleft p{
    font-size: 30px;
    margin: 10px;
}
.divleft h1{
    font-size: 80px;
    margin: 10px;
}
.presentation{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}
.presentation ul{
    display: flex;
    align-items: center;
    gap: 16px
}
.presentation #Photomoi{
    object-fit: contain;
}

.shop{
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px #C5C5C5 ;
    border-radius: 16px;
    height: 400px;
    width: 550px;
}

.card div{
    align-items: flex-end;
}
.card img{
    height: 250px;
    width: 550px;
    border-radius: 16px 16px 0px 0px;
}
.card span{
    flex-direction: column;
    padding-left: 3%;
}
.card p{
    display: flex;
    width: 400pX;
    margin: 0;
}
.card a img{
    height: 32px;
    width: 32px;
    object-fit: cover;
}


footer{
    display: flex   ;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
}