html, body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
main{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

a{
    text-decoration: none;
    color: black;
}
ul, ol{
    display: flex;
    list-style: none;
    
    align-items: center;
}
nav ul{
    gap: 32px;   
}
nav img{
    height: 40px;
    width: fit-content;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    padding-top: 8px;
}

.button{
    display: flex;  
    align-items: center;
    height: fit-content;
    transition: transform 0.2s ease;
    background: black;
    border-radius: 32px;
    padding: 8px 16px;
}

.white{
    background: white;
}

.button:hover{
    transform: scale(90%);
}
.button img{
    height: 16px;
    width: 16px;
    object-fit: contain;
}
.button a{
    color: white;
}

div{
    display: flex;
}
.divleft{
    flex-direction: column  ;
}
.divleft p{
    font-size: 30px;
    margin: 10px;
}
.divleft h1{
    font-size: 80px;
    margin: 10px;
}
.presentation{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    margin-bottom: 10%;
}
.presentation ul{
    display: flex;
    align-items: center;
    gap: 16px
}
.presentation #djembe{
    object-fit: contain;
    height: 450px;
}
.details{
    flex-direction: column;
}
.details h2{
    margin: 0;
}
.details p{
    margin-top: 10px;
    margin-bottom: 50px;
}

.shop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 8px;
}
.plus{
    display: flex;
    margin-top: 2%;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px #C5C5C5 ;
    border-radius: 16px;
    height: 420px;
    width: 500px;
}

.card div{
    align-items: flex-end;
}
.card img{
    height: 250px;
    width: 500px;
    border-radius: 16px 16px 0px 0px;
}
.card span{
    flex-direction: column;
    padding-left: 3%;
}
.card p{
    display: flex;
    margin: 0;
}
.card a img{
    height: 32px;
    width: 32px;
}

#services{
    display: flex;
    align-items: center ;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    background-image:url(assets/images/concert.png);
    border-radius: 16px;
}
#services div{
    align-items: center;
    justify-content: center;
}
.services{    
    flex-direction: column;
    align-items: center;
}
.services div{
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.services {
    background-color: #ffffff75;
    color: black;
    padding: 2%;
    border-radius: 16px;
}
.notes-container{   
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}
.clients{
    background: #D9D9D9;
    transition: transform 0.2s ease;
    padding: 20px;
    height: 350px;
    width: 250px;
}
.clients:hover{
    transform: scale(105%);
}
.clients img{
    height: 100px;
    width: fit-content;
    object-fit: contain;
}

footer{
    display: flex   ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
}

footer ul{
    gap: 8px;
    margin-bottom: 0;
}